<html>
    <head>
        <!--<script src="{{ STATIC_URL }}scripts/jquery-1.6.2.min.js" type="text/javascript"></script>-->
        <script src="{{ STATIC_URL }}scripts/sha1.js" type="text/javascript"></script>
    </head>
    <body>
        <h1>Bienvenue dans Yack</h1>
        
        <p>Yack est un gestionnaire d'upload de fichier.</p>

        <form>
            <label for=main_file >Fichier à uploader : </label><input id=main_file type=file name=main_file multiple />
        </form>
        <a href="#" id="pause_all" >Pause all</a>
        <a href="#" id="resume_all" >Resume all</a>
        
        <div id=work_list>
        </div>
        <script src="{{ STATIC_URL }}scripts/yack.js" type="text/javascript"></script>
    </body>
    
</html>
