body {
	color: @default_text_color;
    width: 100%;
    display: -moz-inline-box;
height: 100%;

}

#menu_panel {
    width: 300px;
    background: @dark_background_color;
    height: 100%;
    
    #logo_block {
        margin-top: 10px;
        height: 100px;
        background: url("/static/yack_logo.png");
        background-repeat: no-repeat;
    }  
}

#content_panel {
    .box-flex;
}
