body {
	color: @default_text_color;
    width: 100%;
    //display: -moz-inline-box;
    height: 100%;
    font-family: sans;
    font-size: 12px;
}

a {
    color: @link_color;
    text-decoration: none;
}

a:hover {
    color: @hover_link_color;
}

#menu_panel {
    width: 300px;
    background: @dark_background_color;
    height: 100%;
    position: absolute;
    top: 0px;
    
    #logo_block {
        margin-top: 10px;
        height: 100px;
        background: url("/static/yack_logo.png");
        background-repeat: no-repeat;
    }  

    #footer_block {
        position: absolute;
        bottom: 0px;
        font-size: 10px;
        color: @light_text_color;
        margin: 5px;
    }

    

}

#content_panel {
    margin-left: 300px;

    
}

#loading_layout {
    margin: 20px;
    font-size: 18px;
}
